:root {
  --darkest-color: #252422;
  --dark-color: #403d39;
  --light-color: #ccc5b9;
  --color: #fffcf2;
  --accent-color: #eb5e28;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.active {
  color: var(--accent-color);
}

.btn {
  border-radius: 3px;
  background-color: var(--accent-color);
  color: var(--color);
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
}

.btn:hover {
  background-color: #e25b25;
}

.btn:active {
  background-color: #d85723;
}

#root {
  height: 100vh;
  background-color: var(--darkest-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c4b50;
}

.app {
  width: 85vw;
  height: 85vh;
  border-radius: 4px;
  background-color: var(--color);
}

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: var(--color);
  height: 5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navigation-bar * {
  margin: 0 1rem;
}

.title {
  color: var(--accent-color);
}

.navigation-links {
  display: flex;
  cursor: pointer;
}

.user-icon {
  justify-self: flex-end;
  cursor: pointer;
}

.book-form {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: flex-end;
}

.book-update * {
  margin: 0.3rem 0;
}

.book-events *:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navigation-links *:hover {
  color: var(--accent-color);
}

input {
  background-color: var(--light-color);
  padding: 0.6rem;
  margin: 1rem 0.5rem 0 0;
  width: 50vw;
  border-radius: 0.7rem;
}

#categories {
  background-color: var(--light-color);
  padding: 0.65rem;
  border-radius: 0.7rem;
  margin: 0 1rem;
}

.books-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-y: scroll;
  background-color: var(--dark-color);
}

.book-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light-color);
  padding: 1rem;
  border: 2px solid #5c4b50;
  width: 90%;
  margin: 0.5rem;
}

.book-card:not(:first-child) {
  border-top: none;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-category {
  opacity: 0.5;
  font-weight: normal;
}

.book-title {
  margin: 0.3rem 0;
}

.book-author {
  font-weight: normal;
}

.book-events {
  display: flex;
  margin-top: 1rem;
  width: 12.5rem;
  justify-content: space-between;
}

.book-events li:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 0.7rem;
}

.book-completion {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.book-update {
  justify-self: end;
}

.separator {
  grid-column: 1 / span 3;
  width: 100%;
  border: 1px solid var(--accent-color);
  margin-bottom: 1rem;
}
